## Project 3: Defining and Creating a Redshift Datawarehouse

In [1]:
%load_ext sql

In [2]:
from time import time
import configparser
import matplotlib.pyplot as plt
import pandas as pd
import boto3
import json
import os

# Load DWH Params from a file

In [5]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

KEY                    = config.get('IAM_ROLE','key')
SECRET                 = config.get('IAM_ROLE','secret')
DWH_IAM_ROLE_NAME      = config.get("IAM_ROLE", "DWH_IAM_ROLE_NAME")

DWH_CLUSTER_TYPE       = config.get("CLUSTER","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("CLUSTER","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("CLUSTER","DWH_NODE_TYPE")
DWH_CLUSTER_IDENTIFIER = config.get("CLUSTER","DWH_CLUSTER_IDENTIFIER")

DWH_DB                 = config.get("DB","DWH_DB")
DWH_DB_USER            = config.get("DB","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DB","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DB","DWH_PORT")

(DWH_DB_USER, DWH_DB_PASSWORD, DWH_DB)

('dwhuser', 'Passw0rd', 'dwh')

In [6]:
pd.DataFrame({"Param":
                  ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT, DWH_IAM_ROLE_NAME]
             })

                    Param       Value
0        DWH_CLUSTER_TYPE  multi-node
1           DWH_NUM_NODES           4
2           DWH_NODE_TYPE   dc2.large
3  DWH_CLUSTER_IDENTIFIER  dwhCluster
4                  DWH_DB         dwh
5             DWH_DB_USER     dwhuser
6         DWH_DB_PASSWORD    Passw0rd
7                DWH_PORT        5439
8       DWH_IAM_ROLE_NAME     dwhRole

# Create clients for IAM, EC2, S3 and Redshift
**Note**: We are creating these resources in the the **us-west-2** region. Choose the same region in the your AWS web console to the see these resources.

In [7]:
ec2 = boto3.resource('ec2',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                    )

s3 = boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )

iam = boto3.client('iam',aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET,
                     region_name='us-west-2'
                  )

redshift = boto3.client('redshift',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

# Check out the data sources on S3

In [8]:
Bucket =  s3.Bucket("udacity-dend")
log_files = [logs.key for logs in Bucket.objects.filter(Prefix='log-data')]
print(log_files[:10])

['log-data/', 'log-data/2018/11/2018-11-01-events.json', 'log-data/2018/11/2018-11-02-events.json', 'log-data/2018/11/2018-11-03-events.json', 'log-data/2018/11/2018-11-04-events.json', 'log-data/2018/11/2018-11-05-events.json', 'log-data/2018/11/2018-11-06-events.json', 'log-data/2018/11/2018-11-07-events.json', 'log-data/2018/11/2018-11-08-events.json', 'log-data/2018/11/2018-11-09-events.json']

In [9]:
song_files = [songs.key for songs in Bucket.objects.filter(Prefix='song-data/A/A')]
song_files[:10]

['song-data/A/A/A/TRAAAAK128F9318786.json',
 'song-data/A/A/A/TRAAAAV128F421A322.json',
 'song-data/A/A/A/TRAAABD128F429CF47.json',
 'song-data/A/A/A/TRAAACN128F9355673.json',
 'song-data/A/A/A/TRAAAEA128F935A30D.json',
 'song-data/A/A/A/TRAAAED128E0783FAB.json',
 'song-data/A/A/A/TRAAAEM128F93347B9.json',
 'song-data/A/A/A/TRAAAEW128F42930C0.json',
 'song-data/A/A/A/TRAAAFD128F92F423A.json',
 'song-data/A/A/A/TRAAAGR128F425B14B.json']

## STEP 1: IAM ROLE
- Create an IAM Role that makes Redshift able to access S3 bucket (ReadOnly)

In [10]:
# TODO: Create the IAM role
try:
    print('1.1 Creating a new IAM Role')
    dwhRole = iam.create_role(
        RoleName=DWH_IAM_ROLE_NAME,
        AssumeRolePolicyDocument=json.dumps(
            {'Statement': [{'Action': 'sts:AssumeRole',
               'Effect': 'Allow',
               'Principal': {'Service': 'redshift.amazonaws.com'}}],
             'Version': '2012-10-17'}),
        Description='This is an IAM Role that makes Redshift able to access S3 bucket (ReadOnly)',
    )
    
except Exception as e:
    print(e)

1.1 Creating a new IAM Role

In [11]:
# TODO: Attach Policy
print('1.2 Attaching Policy')

iam.attach_role_policy(RoleName=DWH_IAM_ROLE_NAME,
                       PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
                      )['ResponseMetadata']['HTTPStatusCode']

1.2 Attaching Policy

200

In [12]:
# TODO: Get and print the IAM role ARN
print('1.3 Get the IAM role ARN')
roleArn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']

print(roleArn)

1.3 Get the IAM role ARN
arn:aws:iam::197787552762:role/dwhRole

## STEP 2:  Redshift Cluster

- Create a RedShift Cluster
- For complete arguments to `create_cluster`, see [docs](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/redshift.html#Redshift.Client.create_cluster)

In [13]:
!python create_redshift.py

Getting AWS configuration parameters ...

----AWS configuration parameters----
DWH_IAM_ROLE_NAME: dwhRole
DWH_CLUSTER_TYPE: multi-node
DWH_NUM_NODES: 4
DWH_NODE_TYPE: dc2.large
DWH_CLUSTER_IDENTIFIER: dwhCluster
DWH_DB: dwh
DWH_DB_USER: dwhuser
DWH_DB_PASSWORD: Passw0rd
DWH_PORT: 5439


1.1 Creating a new IAM Role
An error occurred (EntityAlreadyExists) when calling the CreateRole operation: Role with name dwhRole already exists.
1.2 Attaching Policy
1.3 Get the IAM role ARN
2. Launching AWS Redshift cluster
Starting Redshift cluster  200
Starting Redshift cluster ....
Checking if cluster is available
...still in progress...
Checking if cluster is available
...still in progress...
Checking if cluster is available
...still in progress...
Checking if cluster is available
...still in progress...
Checking if cluster is available
...still in progress...
Checking if cluster is available
...still in progress...
Checking if cluster is available
Getting AWS configuration parameters ...

----AWS configuration parameters----
DWH_IAM_ROLE_NAME: dwhRole
DWH_CLUSTER_TYPE: multi-node
DWH_NUM_NODES: 4
DWH_NODE_TYPE: dc2.large
DWH_CLUSTER_IDENTIFIER: dwhCluster
DWH_DB: dwh
DWH_DB_USER: dwhuser
DWH_DB_PASSWORD: Passw0rd
DWH_PORT: 5439


ec2.SecurityGroup(id='sg-04558d2ad6d3ef91c')
An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists
Cluster is available!

In [31]:

try:
    response = redshift.create_cluster(        
        # TODO: add parameters for hardware
        ClusterType   = DWH_CLUSTER_TYPE,
        NodeType      = DWH_NODE_TYPE,
        NumberOfNodes = int(DWH_NUM_NODES), 

        # TODO: add parameters for identifiers & credentials
        ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
        MasterUsername=DWH_DB_USER,
        MasterUserPassword=DWH_DB_PASSWORD,
        DBName=DWH_DB,
        
        # TODO: add parameter for role (to allow s3 access)
        IamRoles=[roleArn]
         
    )
except Exception as e:
    print(e)

In [14]:
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.cx4xtjljqxqp.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-02a059a37f71c8651
7,NumberOfNodes,4

<h2> 2.2 Take note of the cluster <font color='red'> endpoint and role ARN </font> </h2>

In [15]:
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']
#config.set('IAM_ROLE')
print("DWH_ENDPOINT :: ", DWH_ENDPOINT)
print("DWH_ROLE_ARN :: ", DWH_ROLE_ARN)

DWH_ENDPOINT ::  dwhcluster.cx4xtjljqxqp.us-west-2.redshift.amazonaws.com
DWH_ROLE_ARN ::  arn:aws:iam::197787552762:role/dwhRole

## STEP 3: Open an incoming  TCP port to access the cluster ednpoint

In [16]:
try:
    vpc = ec2.Vpc(id=myClusterProps['VpcId'])
    defaultSg = list(vpc.security_groups.all())[0]
    print(defaultSg)
    
    defaultSg.authorize_ingress(
        GroupName= defaultSg.group_name,  # TODO: fill out
        CidrIp='0.0.0.0/0',  # TODO: fill out
        IpProtocol='TCP',  # TODO: fill out
        FromPort=int(DWH_PORT),
        ToPort=int(DWH_PORT)
    )
except Exception as e:
    print(e)

ec2.SecurityGroup(id='sg-04558d2ad6d3ef91c')
An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists

## STEP 4: Make sure you can connect to the clusterConnect to the cluster

In [17]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [30]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cx4xtjljqxqp.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

## STEP 5: Create Tables

The data is pre-loaded in a public bucket on the us-west-2 region

3.1 Create tables (with a distribution strategy) in the dist schema

In [28]:
!python create_tables.py

### STEP 5.1: Check Tables are created

In [211]:
# Let's check is there is 7 tables
%sql SELECT DISTINCT tablename FROM pg_table_def WHERE schemaname = 'public';

 * postgresql://dwhuser:***@dwhcluster.cx4xtjljqxqp.us-west-2.redshift.amazonaws.com:5439/dwh
7 rows affected.

[('artists',),
 ('songplays',),
 ('songs',),
 ('staging_events',),
 ('staging_songs',),
 ('time',),
 ('users',)]

## STEP 6: Filling tables¶

In [31]:
!python etl.py

Estamos en la
INSERT INTO songplays (start_time,user_id,level,song_id,artist_id,session_id,location,user_agent)
SELECT DISTINCT se.ts AS start_time,
se.user_id AS user_id,
se.level AS level,
ss.song_id AS song_id,
ss.artist_id AS artist_id,
se.session_id AS session_id,
ss.artist_location AS location,
se.user_agent AS user_agent

FROM staging_songs  ss
JOIN staging_events se ON se.artist=ss.artist_name
AND se.song=ss.title


Estamos en la
INSERT INTO users (user_id,first_name,last_name,gender,level)
SELECT DISTINCT(se.user_id) AS user_id,
se.first_name AS first_name,
se.last_name AS last_name,
se.gender AS gender,
se.level AS level
FROM staging_events se
WHERE se.page like '%NextSong%'
AND se.user_id NOT IN (SELECT DISTINCT(user_id) FROM users)


Estamos en la
INSERT INTO songs (song_id,title,artist_id,year,duration)
SELECT DISTINCT(song_id) AS song_id,
title,
artist_id,
year,
duration
FROM staging_songs ss
WHERE song_id NOT IN
(SELECT DISTINCT(song_id) FROM songs)


Estamos en la
INSERT INTO artists (artist_id,name,location,latitude,longitude)
SELECT DISTINCT(artist_id) AS artist_id,
artist_name AS name,
artist_location AS location,
artist_latitude AS latitude,
artist_longitude AS longitude
FROM staging_songs so
WHERE artist_id NOT IN
(SELECT DISTINCT(artist_id) FROM artists )


Estamos en la
INSERT INTO time (start_time,hour,day,week,month,year,weekday)
SELECT DISTINCT(start_time) AS start_time,
extract(hour from start_time) AS hour,
extract(day from start_time) AS day,
extract(week from start_time) AS week,
extract(month from start_time) AS month,
extract(year from start_time) AS year,
extract(weekday from start_time) AS weekday
FROM songplays s

insertamos datos

In [32]:
%sql SELECT * FROM staging_events LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cx4xtjljqxqp.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(None, 'Logged In', 'Adler', 'M', 0, 'Barrera', None, 'free', 'New York-Newark-Jersey City, NY-NJ-PA', 'GET', 'Home', 1540835983796.0, 248, None, 200, datetime.datetime(2018, 11, 6, 2, 12, 44, 796000), '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', 100),
 ('Gustavo Cerati', 'Logged In', 'Adler', 'M', 1, 'Barrera', 249.44281, 'free', 'New York-Newark-Jersey City, NY-NJ-PA', 'PUT', 'NextSong', 1540835983796.0, 248, 'Uno Entre 1000', 200, datetime.datetime(2018, 11, 6, 2, 13, 3, 796000), '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', 100),
 ('Limp Bizkit', 'Logged In', 'Adler', 'M', 2, 'Barrera', 270.49751, 'free', 'New York-Newark-Jersey City, NY-NJ-PA', 'PUT', 'NextSong', 1540835983796.0, 248, 'Behind Blue Eyes', 200, datetime.datetime(2018, 11, 6, 2, 17, 12, 796000), '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', 100),
 (None, 'Logged In', 'Samuel', 'M', 0, 'Gonzalez', None, 'free', 'Houston-The Woodlands-Sugar Land, TX', 'GET', 'Home', 1540492941796.0, 252, None, 200, datetime.datetime(2018, 11, 6, 3, 12, 47, 796000), '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"', 61),
 ('Mikel Erentxun', 'Logged In', 'Samuel', 'M', 1, 'Gonzalez', 178.83383, 'free', 'Houston-The Woodlands-Sugar Land, TX', 'PUT', 'NextSong', 1540492941796.0, 252, 'Frases Mudas', 200, datetime.datetime(2018, 11, 6, 3, 14, 8, 796000), '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"', 61)]

In [33]:
%sql SELECT * FROM stl_load_errors;

 * postgresql://dwhuser:***@dwhcluster.cx4xtjljqxqp.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]

### STEP 6.1: Check Tables are filled

In [36]:
%sql SELECT count(distinct(user_id)) FROM users

 * postgresql://dwhuser:***@dwhcluster.cx4xtjljqxqp.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(96,)]

In [37]:
%sql SELECT count(user_id) FROM users

 * postgresql://dwhuser:***@dwhcluster.cx4xtjljqxqp.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(104,)]

In [38]:
%sql SELECT count(distinct(song_id)) FROM songs

 * postgresql://dwhuser:***@dwhcluster.cx4xtjljqxqp.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [39]:
%sql SELECT count(song_id) FROM songs

 * postgresql://dwhuser:***@dwhcluster.cx4xtjljqxqp.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [40]:
%sql SELECT count(*) FROM staging_events

 * postgresql://dwhuser:***@dwhcluster.cx4xtjljqxqp.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(8056,)]

In [41]:
%sql SELECT count(*) FROM time

 * postgresql://dwhuser:***@dwhcluster.cx4xtjljqxqp.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(333,)]

## STEP 7: Do some queries and analytics¶

## 7.1 Let's explore data

In [72]:
%sql SELECT * FROM songplays limit 5

 * postgresql://dwhuser:***@dwhcluster.cx4xtjljqxqp.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(266, datetime.datetime(2018, 11, 2, 16, 35, 0, 796000), 50, 'free', 'SOBONKR12A58A7A7E0', 'AR5E44Z1187B9A1D74', 156, 'Pikeville, KY', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (378, datetime.datetime(2018, 11, 2, 17, 31, 45, 796000), 10, 'free', 'SOHTKMO12AB01843B0', 'AR5EYTL1187B98EDA0', 182, 'Nevada', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"'),
 (39, datetime.datetime(2018, 11, 4, 16, 25, 54, 796000), 69, 'free', 'SOARUPP12AB01842E0', 'ARD46C811C8A414F3F', 235, 'Cleveland, Ohio', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (218, datetime.datetime(2018, 11, 5, 4, 47, 26, 796000), 69, 'free', 'SONTFNG12A8C13FF69', 'AR52EZT1187B9900BF', 259, 'Harlem, New York', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (94, datetime.datetime(2018, 11, 6, 8, 49, 19, 796000), 12, 'free', 'SOBJDDA12A6BD53159', 'ARCS4GZ1187FB469EB', 300, 'Kempsey, New South Wales', 'Mozilla/5.0 (Windows NT 6.1; rv:31.0) Gecko/20100101 Firefox/31.0')]

In [73]:
%sql SELECT * FROM songs limit 5

 * postgresql://dwhuser:***@dwhcluster.cx4xtjljqxqp.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SOABNBI12A8C13F890', 'Mon légionaire', 'AR5O86P1187FB3B8CD', 0, 216.86812),
 ('SOABNPW12A6D4FC9B5', 'The Canals Of Our City', 'ARQOBT71187FB4CCCA', 2005, 141.11302),
 ('SOABQFG12A58A7C6A7', 'Seven Samurai - ending theme', 'ARKZESI119B86682ED', 0, 340.84526),
 ('SOABVPU12AB018AA22', 'Conquer Me', 'ARZZRK91187B9A5CA5', 2009, 180.53179),
 ('SOABWGO12AB0182725', "I'm Just A Prisoner", 'ARCCX2V1187B99DEE6', 1976, 192.88771)]

In [74]:
%sql SELECT * FROM artists limit 5

 * postgresql://dwhuser:***@dwhcluster.cx4xtjljqxqp.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('AR00MQ31187B9ACD8F', 'Chris Carrier', '', None, None),
 ('AR039B11187B9B30D0', 'John Williams', 'NEW YORK, New York', None, None),
 ('AR048JZ1187B9AEB85', 'Yellowcard', 'Jacksonville, FL', 30.33138, -81.6558),
 ('AR04S8J1187FB48358', 'Clifford Brown / Max Roach Quintet', 'Wilmington, DE', 39.74023, -75.55084),
 ('AR04S8J1187FB48358', 'Clifford Brown', 'Wilmington, DE', 39.74023, -75.55084)]

In [75]:
%sql SELECT * FROM songplays limit 5

 * postgresql://dwhuser:***@dwhcluster.cx4xtjljqxqp.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(266, datetime.datetime(2018, 11, 2, 16, 35, 0, 796000), 50, 'free', 'SOBONKR12A58A7A7E0', 'AR5E44Z1187B9A1D74', 156, 'Pikeville, KY', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (378, datetime.datetime(2018, 11, 2, 17, 31, 45, 796000), 10, 'free', 'SOHTKMO12AB01843B0', 'AR5EYTL1187B98EDA0', 182, 'Nevada', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"'),
 (39, datetime.datetime(2018, 11, 4, 16, 25, 54, 796000), 69, 'free', 'SOARUPP12AB01842E0', 'ARD46C811C8A414F3F', 235, 'Cleveland, Ohio', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (218, datetime.datetime(2018, 11, 5, 4, 47, 26, 796000), 69, 'free', 'SONTFNG12A8C13FF69', 'AR52EZT1187B9900BF', 259, 'Harlem, New York', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (94, datetime.datetime(2018, 11, 6, 8, 49, 19, 796000), 12, 'free', 'SOBJDDA12A6BD53159', 'ARCS4GZ1187FB469EB', 300, 'Kempsey, New South Wales', 'Mozilla/5.0 (Windows NT 6.1; rv:31.0) Gecko/20100101 Firefox/31.0')]

In [76]:
%sql SELECT * FROM time limit 5

 * postgresql://dwhuser:***@dwhcluster.cx4xtjljqxqp.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 2, 17, 31, 45, 796000), 17, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 18, 2, 42, 796000), 18, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 3, 17, 59, 1, 796000), 17, 3, 44, 11, 2018, 6),
 (datetime.datetime(2018, 11, 4, 15, 39, 36, 796000), 15, 4, 44, 11, 2018, 0),
 (datetime.datetime(2018, 11, 5, 11, 8, 56, 796000), 11, 5, 45, 11, 2018, 1)]

## 7.2 ANALYTICS

## The top 5 most listened artists

In [78]:
# let's see the top 5 most listened artists
%sql SELECT a.name AS ARTIST_NAME,count(s.artist_id) AS NPLAYS FROM songplays s JOIN artists a ON s.artist_id=a.artist_id GROUP BY s.artist_id,a.name ORDER BY count(s.artist_id) DESC LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cx4xtjljqxqp.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('Dwight Yoakam', 37),
 ('Kid Cudi', 10),
 ('Kid Cudi / Kanye West / Common', 10),
 ('Lonnie Gordon', 9),
 ('Ron Carter', 9)]

## How many users do we have?

In [69]:
# How many users do we have?
%sql SELECT count(user_id) AS TOTAL_USERS FROM users

 * postgresql://dwhuser:***@dwhcluster.cx4xtjljqxqp.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(104,)]

## How many users do we have by levels (free/paid)?

In [77]:
# How many users do we have by levels?
%sql SELECT count(user_id) AS NUMUSERS,level FROM users GROUP BY level

 * postgresql://dwhuser:***@dwhcluster.cx4xtjljqxqp.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[(82, 'free'), (22, 'paid')]

## How many users do we have by gender?

In [70]:
# How many users do we have by gender?
%sql SELECT count(user_id) AS NUMUSERS,gender FROM users GROUP BY gender
# There are more women between our users

 * postgresql://dwhuser:***@dwhcluster.cx4xtjljqxqp.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[(60, 'F'), (44, 'M')]

## What are the 5 location where users listen the most?

In [80]:
%sql SELECT s.location AS LOCATION,count(s.location) AS NUSERS FROM songplays s GROUP BY s.location ORDER BY count(s.location) DESC LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cx4xtjljqxqp.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('', 77),
 ('Pikeville, KY', 37),
 ('Los Angeles, CA', 20),
 ('Cleveland, Ohio', 10),
 ('Nevada', 9)]

## STEP 8: Clean up your resources

In [84]:
#### CAREFUL!!
#-- Uncomment & run to delete the created resources
redshift.delete_cluster( ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,  SkipFinalClusterSnapshot=True)
#### CAREFUL!!

{'Cluster': {'ClusterIdentifier': 'dwhcluster',
  'NodeType': 'dc2.large',
  'ClusterStatus': 'deleting',
  'MasterUsername': 'dwhuser',
  'DBName': 'dwh',
  'Endpoint': {'Address': 'dwhcluster.cx4xtjljqxqp.us-west-2.redshift.amazonaws.com',
   'Port': 5439},
  'ClusterCreateTime': datetime.datetime(2022, 10, 1, 15, 12, 16, 853000, tzinfo=tzlocal()),
  'AutomatedSnapshotRetentionPeriod': 1,
  'ClusterSecurityGroups': [],
  'VpcSecurityGroups': [{'VpcSecurityGroupId': 'sg-04558d2ad6d3ef91c',
    'Status': 'active'}],
  'ClusterParameterGroups': [{'ParameterGroupName': 'default.redshift-1.0',
    'ParameterApplyStatus': 'in-sync'}],
  'ClusterSubnetGroupName': 'default',
  'VpcId': 'vpc-02a059a37f71c8651',
  'AvailabilityZone': 'us-west-2d',
  'PreferredMaintenanceWindow': 'mon:08:30-mon:09:00',
  'PendingModifiedValues': {},
  'ClusterVersion': '1.0',
  'AllowVersionUpgrade': True,
  'NumberOfNodes': 4,
  'PubliclyAccessible': True,
  'Encrypted': False,
  'Tags': [],
  'EnhancedVpcRouting': False,
  'IamRoles': [{'IamRoleArn': 'arn:aws:iam::197787552762:role/dwhRole',
    'ApplyStatus': 'in-sync'}],
  'MaintenanceTrackName': 'current'},
 'ResponseMetadata': {'RequestId': 'b1fe8a8c-482d-4783-9f4b-68903b3151b4',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': 'b1fe8a8c-482d-4783-9f4b-68903b3151b4',
   'content-type': 'text/xml',
   'content-length': '2703',
   'vary': 'accept-encoding',
   'date': 'Sat, 01 Oct 2022 15:33:47 GMT'},
  'RetryAttempts': 0}}

- run this block several times until the cluster really deleted

In [85]:
myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,deleting
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.cx4xtjljqxqp.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-02a059a37f71c8651
7,NumberOfNodes,4

In [86]:
#### CAREFUL!!
#-- Uncomment & run to delete the created resources
iam.detach_role_policy(RoleName=DWH_IAM_ROLE_NAME, PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess")
iam.delete_role(RoleName=DWH_IAM_ROLE_NAME)
#### CAREFUL!!

{'ResponseMetadata': {'RequestId': 'd7a01751-882c-4066-a6b7-b85755b6df90',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': 'd7a01751-882c-4066-a6b7-b85755b6df90',
   'content-type': 'text/xml',
   'content-length': '200',
   'date': 'Sat, 01 Oct 2022 15:33:53 GMT'},
  'RetryAttempts': 0}}